body{
    background-color: #cddead;
    margin: 0;
    pad: 0;
}
p{
    font-style: italic;
    font-family: monospace;
    font-weight: 700;
    font-size: x-large;
}
h1{
    color: green;
    font-size: 2em;
    font: italic bold 2em 'Open Sans', serif;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
div{
    display:inline-flexbox;
    text-align: center;
    border:4px solid  hotpink;
    margin:20px;
}
span{
    color: red;

}
u{
    color: #333ccc;
}
